body {
  text-align: center;
  background-image: url(../images/apple-ios-notepad.jpg);
  background-repeat:  no-repeat;
  background-image: center;
  background-position: center;
}

#heading {
  font-size: 42px;
  padding-top: 1px;
  padding-bottom: 4rem;
  font-weight: bolder;
  font-family: cursive;
}

.add {
  margin-bottom: 1em;
}

ul {
list-style: none;
width: 30%;
margin: 0 auto;
/*background-color: rgba(255,255,255,0.8);*/

}

li {
  text-align: left;
  position: relative;
  padding-left: 7em;
  /*margin-top:1.5em;*/
}




.add-button {
  margin-top: 4rem;
  border-radius: 5px;


}

.done-button {
  border-radius: 5px;
  position: absolute;
  top:0;
  left:4.2em;


}

.remove-button {
  border-radius: 5px;
  margin-top: 12em;
  text-align: center;
}

.strike {
    text-decoration: line-through;
}


input[type="add-item"] {
  width: 20%;
  border-radius: 5px;
  /*margin-bottom: 2em;*/
}

.fa {
  position: absolute;
  right: 35%;
  cursor: pointer;
}
