body {
  text-align: center;
  background-image: url(/images/apple-ios-notepad.jpg);
  background-repeat:  no-repeat;
  background-image: center;
  background-position: center;
}

#heading {
  font-size: 42px;
  padding-top: 1px;
  padding-bottom: 1rem;
  font-weight: bolder;
  font-family: cursive;
}


ul {
list-style: none;
width: 30%;
margin: 0 auto;
background-color: rgba(255,255,255,0.8);
}

li {
  text-align: left;
  position: relative;
  padding: .5em;
}




.add-button {
  margin-top: 4rem;
  border-radius: 5px;


}

.done-button {
  border-radius: 5px;
  position: absolute;
  top:0;
  right:0;
  repeat:none;


}

input[type="add-item"] {
  width: 20%;
  border-radius: 5px;
  /*margin-bottom: 2em;*/
}
